<h3>{{ message }}</h3>

<div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="showForm=!showForm">Add
                    <i class="material-icons right">send</i>
                </button>
            </div>
</div>

<div class="row" ng-show="showForm">
    <form class="col s12" ng-submit="add()">
        <div class="row">
            <div class="input-field col s6">
              <input id="title" type="text" class="validate" ng-model="publisher.name">
              <label for="title">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">done</i>
                </button>
            </div>
        </div>
    </form>
</div>

<div id="list-publishers">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Publishers</h4></li>
        <li ng-repeat="publisher in publishers" class="collection-item">
          <a ui-sref="publisherDetails({id: publisher.id})">{{ publisher.name }}</a>
        </li>
    </ul>
</div>